<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta httpequiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="author" content="Christian Augusto Martins dos Santos Barros"/>
        <meta name="description" content="Sua loja de lanches online"/>
        <meta name="keywords" content="Burger King, lanches, hambúrgueres, fast-food"/>
        <title>Burger King - Sua loja de lanches online!</title>

        <link rel="stylesheet" href="/css/reset.css"/>
        <link rel="stylesheet" href="/css/lato.css"/>
        <link rel="stylesheet" href="/css/burgerking-message.css"/>
    </head>
    <body>
        <noscript>
            <p id="messageScriptDisabled">
                <strong>
                    Nós precisamos que o Javascript do seu navegador esteja ativo, só assim o Burger King poderá funcionar.
                </strong>
            </p>
        </noscript>
        <main id="main" role="main">
            <div id="homePage"></div>
            <noscript id="pageInfo" class="hidden-heading">
                <h1 class="headingTag1">Burguer King</h1>
                <h2 class="headingTag2">Seus lanches aqui</h2>
                <h2 class="headingTag2">Aproveite a nossa loja online</h2>
                <h3 class="headingTag3">Faça já o seu pedido</h3>
            </noscript>
        </main>
    </body>
</html>