link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico&display=swap")