<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta httpequiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Christian Augusto Martins dos Santos Barros" />
        <meta name="description" content="Sua loja de lanches online" />
        <meta name="keywords" content="Burger King, lanches, hambúrgueres, fast-food" />
        <title>
            <store:categoryName />
        </title>
    </head>
    <body>
        <noscript>
            <p style="font-size: 14px; padding: 24px 32px;">
                <strong style="font-weight: 700;">
                    Nós precisamos que o Javascript do seu navegador esteja ativo, só assim o Burger King poderá funcionar.
                </strong>
            </p>
        </noscript>
        <main id="main">
            <div id="categoryPage"></div>
            <div class="pageHidden">
                <noscript>
                    <h1 class="headingTag1"><store:categoryName /></h1>
                    <store:shelf class="shelf-category" productsQtd="16" />
                </noscript>
            </div>
        </main>
    </body>
</html>