<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta httpequiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Christian Augusto Martins dos Santos Barros">
        <meta name="description" content="Sua loja de lanches online">
        <meta name="keywords" content="Burger King, lanches, hambúrgueres, fast-food">
        <title>
            <store:categoryname>
        </title>

        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/lato.css">
        <link rel="stylesheet" href="/css/burgerking-message.css">
    </head>
    <body>
        <noscript>
            <p id="messageScriptDisabled">
                <strong>
                    Nós precisamos que o Javascript do seu navegador esteja ativo, só assim o Burger King poderá funcionar.
                </strong>
            </p>
        </noscript>
        <main id="main" role="main">
            <div id="categoryPage"></div>
            <noscript id="pageInfo" class="hidden-heading">
                <h1 class="headingTag1"><store:categoryname></h1>
                <p id="categoryId"><store:categoryid></p>
                <store:shelf class="shelf-category" productsqtd="16">
                <store:categoryfilters>
            </noscript>
        </main>
    <script src="/js/burgerking-category.js"></script></body>
</html>