extends ./_configbase.pug


//- Template variables
block append vars
    - var template = "home"
    - var templateClass = "homePage"


//- Main Content
block append content
    noscript(id="pageInfo", class="hidden-heading")
        <store:header/>
        h1 Burguer King
        h2 Seus lanches aqui
        h2 Aproveite a nossa loja online
        h3 Faça já o seu pedido


//- Scripts
block append scripts
    script(src=`/js/${storeName}-${template}.js`)