footer(class="ch-footer")
  div(class="ch-footer-container")
    div(class="ch-footer__social-links")
      ul(class="ch-footer-links")
        li #[a(href="") Company]
        li #[a(href="") Contact us]
        li #[a(href="") Shipping]
      ul(class="ch-footer-links")
        li #[a(href="") Returns]
        li #[a(href="") Careers]
      ul(class="ch-footer-social_media")
        li(class="facebook-footer") #[a(href="") Facebook]
        li(class="twitter-footer") #[a(href="") Twitter]
        li(class="pinterest-footer") #[a(href="") Pinterest]
        li(class="tumblr-footer") #[a(href="") Tublr]
        li(class="googlep-footer") #[a(href="") Google plus]
      p(class="ch-copyright-area") &#9400; 2015 Merlin's Potions. All Rights Reserved
    div(class="ch-footer-newsletter")
      div(class="ch-footer-newsletter__text")
        p Sign up for our Newsletter
        p Sign up for our newsletter & get exclusive discounts!
      form(class="ch-footer-newsletter__form")
        input(type="text", name="footerNewsletterText", placeholder="Enter your email")
        button(type="submit", name="footerNewsletterButton", class="ch-newsletter-submit_button") Submit
