.ch-category {
   &__shelf-product {
      width: 45%;
      @include display-column;
      justify-content: flex-start;
      align-items: center;

      &__image {
         max-width: 200px;
         max-height: 200px;
      }


      &__content {
         @include display-row;
         justify-content: center;
      }
      &__name, &__space, &__price {
         font-size: 10px;
      }
      &__name {
         font-weight: 700;
      }
      &__space {
         margin: 0 4px;
      }
      &__price {
         color: #d64236;
      }
   }
}