{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@components": "./src/react/components",
                    "@Layout": "./src/react/pages/Layout.js",
                    "@reactPages": "./src/react/pages",
                    "@store": "./src/configs/store.js",
                    "@mixins": "./src/utils/mixins.js"
                }
            }
        ],
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ]
    ]
}