//Mixins

@mixin mobile {
    @media (max-width: $mobile) { @content; }
}

@mixin desktop {
    @media (min-width: $desktop) { @content; }
}

@mixin display-row {
    display: flex;
    flex-direction: row;
}

@mixin display-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

@mixin display-column {
    display: flex;
    flex-direction: column;
}

@mixin display-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}


// Compatibility
@mixin placeholderStyle() {
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        @content;
    }
    
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        @content;
    }
    
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        @content;
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        @content;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
        @content;
    }
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property; 
}