{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "16.13.1"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@constants": "./src/constants"
        }
      }
    ]
  ],
  "ignore": ["./src/tests"]
}
