section(class="ch-dog-breed swiper-slide")
  div(class="ch-dog-breed__tutorial")
    p(class="ch-dog-breed__tutorial-text") 1) Let's first choose your dog breed:
  div(class="ch-dog-breed__select")
    div(class="ch-dog-breed__select-active")
      p(class="js-dog-breed__select-active-text") 
      button(class="ch-dog-breed__select-arrow")
        include ../../svg/arrow-select.svg
    ul(class="js-dog-breed__select-options-list")
  div(class="ch-dog-breed__choosen")
    p(class="js-dog-breed__choosen-text is--hidden")