section(class="ch-opening swiper-slide")
  div(class="ch-opening__title")
    h1 Choose your dog
  div(class="ch-opening__tutorial")
    p(class="ch-opening__tutorial-text") This site will help you to find a beatifull pet, the best friend of human, the Dog! To pass one step, just click on arrow on the right side. If are necessary come back, click on arrow on the left side.