div(class="ch-product-lightbox ch-is-hide")
    div(class="ch-prod-lb-content")
        div(class="ch-prod-lb-image-container")
            img(src="", alt="", class="ch-prod-lb-image")
        div(class="ch-prod-lb-description-container")
            p(class="ch-prod-lb-name")
            div(class="ch-prod-lb-effect")
                p(class="ch-prod-lb-effect__title") Use/Effect:
                p(class="ch-prod-lb-effect__value")
            div(class="ch-prod-lb-ingredients")
                p(class="ch-prod-lb-ingredients__title") Ingredients:
                ul(class="ch-prod-lb-ingredients__list")
            div(class="ch-prod-lb-price")
                p(class="ch-prod-lb-price__title") Price:
                span(class="ch-prod-lb-price__value")
            button(class="ch-prod-lb-add-to-cart") Add to cart
        button(class="ch-prod-lb-close-button") X
