
@import "./config/config.scss";

html {
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    height: 100%;

    #ch-app {
      width: 100%;
      height: 100%;

      @import "./components/soccer-match.scss";
    }
  }
}