{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@Components": "./src/js/react/components",
          "@Containers": "./src/js/react/containers",
          "@Core": "./src/js/react/core",
          "@HOC": "./src/js/react/hoc",
          "@Hooks": "./src/js/react/hooks",
          "@Icons": "./src/js/react/icons",
          "@Layouts": "./src/js/react/layouts",
          "@Pages": "./src/js/react/pages",
          "@Store": "./src/js/react/store",
          "@Styles": "./src/js/react/styles",
          "@Types": "./src/js/react/types",
          "@Constants": "./src/js/constants",
          "@Resources": "./src/js/resources",
          "@Services": "./src/js/services",
          "@Utils": "./src/js/utils"
        }
      }
    ]
  ]
}